* {
  float: none;       /* Screens are not big enough to account for floats */
  background: #fff;  /*  As much contrast as possible */
  color: #424242;
  padding: 0;
  margin: 0;
}

/* Slightly reducing font size to reduce need to scroll */
body { 
	font-size: 80%; 
	background: #EAEAEA;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial;
}


/********** Header styles **********/

h1#logo {
	background: url(images/header-desconf-logo.jpg) no-repeat;
	height: 101px;
	float: left;
}

header {
	background: #8B6250;
	-webkit-box-shadow: #AAA 2px 2px 2px;
	padding: 20px 0;
}

header aside h2 {
	float: left;
	color: #EAEAEA;
	font-size: 1.6em;
	font-weight: normal;
}

.mainMenu {
	float: right;
	display: table-row;
}

.mainMenu li {
	float: left;
	font-size: 1.5em;
	font-family: "georgia", serif;
	font-style: italic;
	margin: 30px 20px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.mainMenu li a {
	padding: 5px 0 0 0;
	margin: 1px 0;
	display: block;
}
.mainMenu li a::after {
content: ' »';
}

.mainMenu li a:hover {
	background: #755142;
	color: #B9FF33;
}

/******** Main content ********/

/* FEATURED */

#main {
	margin-top: 20px;
}

#main h2 {
	text-align: right;
	border-bottom: #A5D64A dashed 2px;
	color: #A5D64A;
	font-size: 1.8em;
	letter-spacing: 1px;
	text-transform: capitalize;
}

#featured {
	padding-top: 10px;
	padding-bottom: 10px;
	clear: both;
}

#featured:hover {
	background: #FFF;
}

#featured .video,
#featured aside {
	float: left;
}

#featured aside {
	padding: 10px;
	background: #E7E7DE;
	-webkit-border-radius: 10px;
	width: 280px !important;
}

#featured h3 {
	background: url(images/title_arrow.png) no-repeat left 5px;
	padding: 0 0 0 32px;
	font-size: 1.5em;
	letter-spacing: 0.15em;
	line-height: 1.4em;
	text-transform: uppercase;
}

#featured h3 div {
	font-size: 0.6em;
	font-weight: normal;
	font-style: italic;
	text-transform: capitalize;
}

#featured h4 {
	background: url(images/border_dotted.gif) repeat-x 0% 100%;
	margin-bottom: 10px;
	padding: 0px 0px 8px;
}

#featured h4 div {
	font-weight: normal;
	font-style: italic;
	text-transform: capitalize;
}

#featured li {
	margin-bottom: 10px;
}

#featured li:last-child {
	margin-bottom: 0px;
}

/* buttons */

.button, .button:visited {
	margin-top: 20px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9CBE39), to(#71930F));
	display: inline-block;
	border: 1px solid #5B8300;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer
}
.small.button, .small.button:visited { 
	font-size: 11px;
}

.button, .button:visited,
.medium.button a, .medium.button:visited a {
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}


.large.button a, .large.button:visited a { 
	font-size: 18px;
	padding: 8px 14px 9px; 
}

.super.button a, .super.button:visited a { 
	font-size: 34px;
	padding: 8px 14px 9px; 
}


.green.button, .green.button:visited { 
	background-color: green; 
}
.green.button:hover { 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#71930F), to(#9CBE39));
}

.button a, .button a:link, .button a:hover, .button a:visited {
	border-top: 1px solid #bad424;
	display: block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
}
.buttonAsLink {
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 20px;
}

.button input {
  background: transparent;
  border: none;
  margin: 0;
}



